{{#unless flatMode}}
  <div class='buttons'>
    <button class='decrease-btn' {{action 'decreaseWeek'}} disabled='{{if decreaseWeekButtonDisabled "disabled"}}'>
      {{{decreaseButtonText}}}
    </button>

    <button class='picker-toggle-btn rl-dropdown-toggle' {{action 'toggleDropdown'}}>
      {{#if weekText}}
        {{weekText}}
      {{else}}
        {{{weekPlaceholderText}}}
      {{/if}}
      <i class='caret'></i>
    </button>

    <button class='increase-btn' {{action 'increaseWeek'}} disabled='{{if increaseWeekButtonDisabled "disabled"}}'>
      {{{increaseButtonText}}}
    </button>
  </div>
{{/unless}}

{{#if pickerVisible}}
  <div class='picker rl-dropdown'>
    {{#if monthPickerMode}}
      {{rl-month-picker flatMode=true previousPageButtonText=previousPageButtonText nextPageButtonText=nextPageButtonText
        pickedMonth="pickedMonth" monthLabels=monthLabels year=displayedYear monthNumber=displayedMonthNumber
        minMonth=minMonth maxMonth=maxMonth}}
    {{else}}
      <div class='page-controls'>
        <button class='previous-page-btn' {{action 'previousPage'}} disabled='{{if previousPageButtonDisabled "disabled"}}'>
          {{{previousPageButtonText}}}
        </button>

        <button class='month-picker-toggle-btn' {{action 'openMonthPicker'}}>
          {{monthText}} <i class='caret'></i>
        </button>

        <button class='next-page-btn' {{action 'nextPage'}} disabled='{{if nextPageButtonDisabled "disabled"}}'>
          {{{nextPageButtonText}}}
        </button>
      </div>

      <table class='week-table'>
        <thead>
          <tr>
            <th class="week-column-header">{{weekColumnHeader}}</th>
            {{#each dayLabelsArray as |dayLabel|}}
              <th>{{dayLabel}}</th>
            {{/each}}
          </tr>
        </thead>

        <tbody>
          {{#each weeksOnPage as |week|}}
            <tr class='{{if week.isActive "active"}} {{if week.outOfRange "out-of-range"}}' {{action 'pickedWeek' week.year week.weekNumber}}>
              <td class="week-column">{{week.weekNumber}}</td>
              {{#each week.days as |day|}}
                <td class='{{if day.inDisplayedMonth "in-month" "not-in-month"}}'>{{day.date}}</td>
              {{/each}}
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/if}}
  </div>
{{/if}}
